<%= form_for @device do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :mac_address %><br />
		<%= f.text_field :mac_address %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>

<% end %>