<h1>Recover password</h1>

<%= form_tag(:action => "recover_password_submit") do %>
  <%= render 'shared/error_messages', :object => f.object %>

	<div class="field">
	  <%= f.label :email %><br />
	  <%= f.text_field :email %>
	</div>

  <div class="actions">
    <%= f.submit "Recover" %>
  </div>
<% end %>
