<%= render 'shared/user_header' %>

<h2>Heart Rates</h2><br />

<% if @heart_rate_summaries.empty? %>
	There's no entries here<br />
<% else %>
	<table class="heart_rate_summaries" summary="Heart Rate Summaries">
		<thead>
			<tr>
				<th>Value</th>
				<th>Occurrences</th>
				<th>Percent</th>
			</tr>
		</thead>
		<%= render @heart_rate_summaries %>
	</table>
<% end %>

<p>Do you want to look up for the heart rates at another period?</p>

<%= link_to "Daily Data", show_user_heart_rate_summary_path %><br />
<%= link_to "Weekly Data", show_user_heart_rate_summary_path(:period => "Weekly") %><br />
<%= link_to "Monthly Data", show_user_heart_rate_summary_path %><br />


